{% extends '@SyliusShop/layout.html.twig.twig' %}

{% block content %}
    <div class="ui segment">
        <h1 style="color:#2196f3;">Welcome to B2B Store 🧱</h1>
        {{ parent() }}
    </div>
{% endblock %}
